# Battle of the Neighborhoods - by Mahmudin Rizal

# Introduction

work and study are activities that almost everyone does. In practice, it is often found that humans need a place to study and work other than at home, office, or at school. Usually places like coffee shops are another main choice besides previous places, but lately there are also many people who want to study or work in coworking spaces. In this project, we will examine where is the best place to set up a coworking space, considering that this business is promising. Some conditions may be used, such as one that must be a busy place or close to several crowded places and easy to access. This project is carried out for the area around the city of Bekasi, Indonesia

# Data

The data used is data about the dibekasi area, including population, latitude, and longitude. All data related to locations will be obtaine by using FourSquare API and Python Libraries.

In [9]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

#!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

#!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

import requests
import lxml.html as lh
import urllib.request
import numpy as np 
import pandas as pd
from bs4 import BeautifulSoup


print('Libraries imported.')

Libraries imported.

In [10]:
df=pd.read_csv('bekasi.txt')

In [11]:
df

          District  total population  Latitude  Longitude
0      Pondok Gede            320249    6.2700   106.9300
1    Jati Sampurna            161207    6.3621   106.9300
2    Pondok Melati            166432    6.3109   106.9300
3         Jatiasih            265551    6.3101   106.9536
4    Bantar Gebang            129511    6.3116   106.9860
5      Mustikajaya            294944    6.2949   107.0274
6     Bekasi Timur            260759    6.2363   107.0244
7        Rawalumbu            278816    6.2779   107.0008
8   Bekasi Selatan            234235    6.2582   106.9772
9     Bekasi Barat            306220    6.2382   106.9654
10     Medansatria            193497    6.1941   106.9860
11    Bekasi utara            402430    6.2064   107.0008